anexe/soapUI/helloworld.wadl

<application xmlns="http://wadl.dev.java.net/2009/02">
<doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.13 2014-09-29 16:04:33"/>
<doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://localhost:8080/HelloWorld/resources/application.wadl?detail=true"/>
<grammars/>
<resources base="http://localhost:8080/HelloWorld/resources/">
<resource path="helloworld">
<method id="getText" name="GET">
<response>
<representation mediaType="text/plain"/>
</response>
</method>
<resource path="xml">
<method id="getAsXml" name="GET">
<response>
<representation mediaType="application/xml"/>
</response>
</method>
</resource>
<resource path="html">
<method id="getAsHtml" name="GET">
<response>
<representation mediaType="text/html"/>
</response>
</method>
</resource>
</resource>
</resources>
</application>